.document_satae_panel {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border: 1px solid #E1E1E1;
    padding: 10px;

    .state_blk {
        display: flex;
        align-items: center;
        gap: 5px;


    }
    .dop_state {
        display: flex;
        gap: 10px;
    }

    .icon{
            width:23px;
            height:23px;
            display: inline-block;
            background-color: var(--green);
        }

}

@media screen and (max-width: 768px){
    .document_satae_panel {
        flex-direction: column;
        gap:10px;
    }
}
