.goskey_banner {
    display: flex;
    gap:50px;

    .logo_wrappe {
        width:200px;
        gap:20px;
        display: flex;
        flex-direction: column;
        height: 100%;
        .logo{
            margin: auto;
            width:150px;
            height: auto;
        }

        .qr {
            width:130px;
            height: auto;
            margin: auto;

        }
    }

    .text_wrappe {
        h2 {
            color: #0A2996;
            font-size: 22px;
            margin-top: 0;
            margin-bottom: 10px;

        }

        p {
            font-size: 14px;
        }

        .mobile_store {
            display: flex;
            gap:20px;
            flex-wrap: wrap;
            img {
                max-width: 110px;
            }
        }
    }
}

.ukep_instruction{
    width: 100%;
    height: auto;
}

.goskey_sign_page {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    font-size: 14px;
    margin: 20px 0;

    .wrapper-icon {
        width:80px;
        &.no_active {
            filter: grayscale(100%);
            opacity: 0.5;
        }
    }

    .btn-link__actions {
        display: flex;
        gap:20px;
        .btn {
            border-color: #0A2996;
            color: #0A2996;
            background-color: white;
            font-size: 14px;
            padding: 1rem 2rem;
            min-height: unset;
            &:hover {
                background-color: #0A2996;
                color: white;
            }
        }
    }

    .status_line {
        display: flex;
        gap:10px;

        .state {
            font-weight: bold;
            color:#0A2996;
            &.error {
                color: red;
            }
            &.success {
                color: green;
            }
        }
    }

    .sign_files {
            display: flex;
            flex-direction: column;
            gap:5px;
            .file {
                display: flex;
                gap: 10px;
            }
        }

    .loader {
        width: 20px;
        height: 20px;
    }

    .result_status {
        color: green;
        &.error {
            color: red;
        }
    }
    .wrapper-control {
        flex:1;
        p {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 768px){
    .goskey_banner {
        flex-direction: column;
        gap: 20px;
        .logo_wrappe  {
            width: 100%;
            height: unset;
            flex-direction: row;
            .logo, .qr {
                width:100px
            }
        }
    }

    .goskey_sign_page {
        flex-direction: column;
        gap:10px;
        align-items: start;
        .btn-link__actions {
            flex-direction: column;
            gap:10px;
        }
    }
}

