*{box-sizing:content-box; outline:none;}
html{
    -moz-text-size-adjust:100%;
     -ms-text-size-adjust:100%;
     -o-text-size-adjust:100%;
     -webkit-text-size-adjust:100%;
     text-size-adjust:100%;
}

:root{
    font-size: 10px;
    line-height: 1.6;
    --bg: #F5F5F5;
    --bg-light: #EDEDED;
    --light: #ffffff;
    --color: #000000;
    --color-alt: #7B7777;
    --grey: #737373;
    --color-alt-light: #BFBFBF;
    --border-color: #A3A3A3;
    --active: #16A4A4;
    --green: #118383;
    --alert-color: #EF4545;
    --great-transition: all 200ms ease;

}

body{
    position: relative;
    flex-direction: column;
    display: flex;
    background-color: #fff;
    margin: 0 ;
    padding:0;
    -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased;
    min-height:100vh;
    background-color: var(--bg);
    color: var(--color);
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


#footer{
     width: 100%;
     box-sizing: border-box;
     position: relative;
     margin-top: auto;
}

h1, h2, h3, h4, h5, h6{display:block; margin:0; padding:0; font-weight:400;}
 p{display:block; margin:0; padding:0; }
.h1, .h2, .h3, .h4, .h5, .h6{margin:0; padding:0; float:none;}
img, input, textarea, button, a{border:none; outline:none;}



input, textarea, button, a{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.11rem;
    line-height: 1;
}
menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
table{border-spacing:0; border-collapse: collapse; margin: 0; padding: 0;}
td, th{vertical-align:top; word-wrap:break-word;}
// ul, ol, nav, dl{margin:0; padding:0; list-style:none;}
a{text-decoration:none; font-size: inherit; line-height: inherit; color: var(--active);  font-weight: inherit}
a:hover{text-decoration:underline;}
button{display:block; cursor:pointer; box-sizing:border-box; padding:0;}
button, .button{ text-decoration:none !important;}
//button:hover, .button:hover{transition: opacity 1.2s, visibility 0s linear 1.2s; opacity:0.7;}
address{font-style: normal;}

.inner{position:relative; margin:0 auto; box-sizing: border-box; padding: 0 50px;}
section{position:relative;}
main{position:relative; clear:both;   box-sizing: border-box;}
header, nav, section, article, aside, footer, main{display:block;}
fieldset{position: relative; border: 0;}
legend{
    font-size: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.cover{background-position:center center; background-repeat:no-repeat; background-size:cover;}
.contain{background-position:center center; background-repeat:no-repeat; background-size:contain;}

.no-text{
    font-size: 0 !important;
    color: transparent;
    background-color: rgba(255, 255, 255, 0.504);
}

//.clear{clear:both; height:1px;}
.fleft{float:left;}
.fright{float:right;}
.db{display:block;}
.inb{display:inline-block;}
.in{display:inline;}
.tb{display:table;}
.tbc{display:table-cell;}
.tbr{display:table-row-group;}
.tr{display:table-row;}
.on_dekstop{display:block;}
.on_mobile{display:none;}
.hide{display:none;}
.hideI{display:none !important;}
.w20{width:20%;}
.w25{width:25%;}
.w30{width:30%;}
.w33{width:33%;}
.w33-3{width:33.333333333333%;}
.w40{width:40%;}
.w45{width:45%;}
.w48{width:48%;}
.w50{width:50%;}
.w50I{width:50% !important;}
.w55{width:55%;}
.w60{width:60%;}
.w65{width:65%;}
.w75{width:75%;}
.w100{width:100%;}
.h100{height:100%;}
.h100vh{height:100vh;}
.vM{vertical-align:middle;}
.vT{vertical-align:top;}
.vB{vertical-align: bottom;}
.rL{position:relative;}
.fixed{position:fixed; top: 0; left: 0; width: 100%;}
.abs{position:absolute;}
.hid{overflow:hidden;}
.m0{margin:0;}
.m0I{margin:0 !important;}
.m0a{margin:0 auto;}
.m05{margin:0 5%;}
.p0{padding:0;}
.alCenter{text-align:center;}
.alRight{text-align:right;}
.alLeft{text-align:left;}
.cp{cursor:pointer;}
.cd{cursor:default;}
.ca{cursor:auto;}
.zt200{z-index:200;}
.box{box-sizing:border-box;}
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.bgn{background:none !important;}
.row{margin:0; float:none;}
.b0{bottom:0;}
.t0{top:0;}
.r0{right:0;}
.l0{left:0;}
.up{text-transform:uppercase;}
.low{text-transform:lowercase;}
.fsn{font-style: normal;}
.pb0{padding-bottom: 0;}
.upp{text-transform:uppercase;}
.spacer{display: block; width: 100%; height: auto;}
.clearfix::after, .clear::after{content: ''; display: table; width: 100%; clear: both;}


// .placeholder::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease; color: var(--grey);}
// .placeholder::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; color:var(--grey);}
// .placeholder:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; color:var(--grey);}
// .placeholder:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease; color:var(--grey);}
// .placeholder:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
// .placeholder:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
// .placeholder:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
// .placeholder:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}

// .textarea::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease;}
// .textarea::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;}
// .textarea:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;}
// .textarea:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease;}
// .textarea:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
// .textarea:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
// .textarea:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
// .textarea:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}

a, button{
    &:focus-visible{
        outline: 2px solid var(--alert-color);
    }
}
.mlAuto{
    margin-left: auto;
}
