/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/tmp_docs/*.docx
/public/tmp_docs/*.pdf
/public/signed_docs/*.docx
/public/signed_docs/*.pdf
/public/signed_docs/*.sig
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
